XSD/SEL/SEL1096.XSD

<?xml version='1.0' encoding='ISO-8859-1'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
    xmlns:cat='http://www.bcb.gov.br/catalogomsg'
    targetNamespace='http://www.bcb.gov.br/SPB/SEL1096.xsd'
    xmlns='http://www.bcb.gov.br/SPB/SEL1096.xsd'
    elementFormDefault='qualified'
    version='5.10'>
 
<!-- Definicao da mensagem -->
 
<xs:element name='DOC' type='DOCComplexType'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfEvento>
        <cat:Evento>SEL1096 - IF consulta Limite financeiro para Não Liquidante operar</cat:Evento>
        <cat:Descricao>Destinado à IF consultar a posição dos limites financeiros registrados no Selic.</cat:Descricao>
        <cat:Observacao>Pode-se realizar as seguintes consultas: 
- IF Liquidante e IF Não Liquidante preenchidos:Limites financeiros (default e saldo) fornecido pela IF liquidante para IF não liquidante. Esta consulta pode ser feita tanto pela IF Liquidante como pela IF Não Liquidante;
- IF Liquidante preenchido e IF Não Liquidante não preenchido:Relação de todas IF Não Liquidantes com os respectivos limites financeiros (default e saldo) fornecidos pela IF Liquidante informada;
- IF Liquidante não preenchido e IF Não Liquidante preenchido:Relação de todas IF Liquidantes com os respectivos limites financeiros (default e saldo) fornecidos para IF Não Liquidante informada.</cat:Observacao>
        <cat:Servico>Consulta Operações SELIC</cat:Servico>
        <cat:TipoFluxo>Fluxo4</cat:TipoFluxo>
      </cat:InfEvento>
    </xs:documentation>
  </xs:annotation>
</xs:element>
 
<xs:complexType name='DOCComplexType'>
  <xs:sequence>
    <xs:element name='BCMSG' type='BCMSGComplexType'/>
    <xs:element name='SISMSG' type='SISMSGComplexType'/>
    <xs:element name='USERMSG' type='USERMSGSimpleType' minOccurs='0'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do BCMSG da mensagem -->
 
<xs:complexType name='BCMSGComplexType'>
  <xs:sequence>
    <xs:element name='IdentdEmissor' type='ISPB'/>
    <xs:element name='IdentdDestinatario' type='ISPB'/>
    <xs:element name='IdentdContg' type='ISPB' minOccurs='0'/>
    <xs:element name='IdentdOperad' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='IdentdOperadConfc' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='Grupo_Seq' type='Grupo_SeqComplexType' minOccurs='0'/>
    <xs:element name='DomSist' type='DomSist'/>
    <xs:element name='NUOp' type='NUOp'/>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_SeqComplexType'>
  <xs:sequence>
    <xs:element name='NumSeq' type='NumSeq'/>
    <xs:element name='IndrCont' type='Indr'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do SISMSG da mensagem -->
 
<xs:complexType name='SISMSGComplexType'>
  <xs:choice>
    <xs:element name='SEL1096' type='SEL1096ComplexType'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfMensagem>
            <cat:Mensagem>Consulta Limite financeiro para não liquidante operar</cat:Mensagem>
            <cat:Emissor>IF</cat:Emissor>
            <cat:Destinatario>SELIC</cat:Destinatario>
          </cat:InfMensagem>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='SEL1096R1' type='SEL1096R1ComplexType'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfMensagem>
            <cat:Mensagem>Resposta à Consulta Limite financeiro para não liquidante operar</cat:Mensagem>
            <cat:Emissor>SELIC</cat:Emissor>
            <cat:Destinatario>IF</cat:Destinatario>
          </cat:InfMensagem>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:choice>
</xs:complexType>
 
<xs:complexType name='SEL1096ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='CodMsg' fixed='SEL1096'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Mensagem</cat:NomeCampo>
            <cat:DescricaoCampo>Código da mensagem do sistema associado ao evento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='NumCtrlIF' type='ControleIF'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Número Controle IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de controleda IF</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='ISPBIF' type='ISPB'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>ISPB IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de identificação da Instituição Financeira no Sistema de Pagamentos  Brasileiro</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IFLiqdant' type='ISelic' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>IF Liquidante</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador Selic do participante com conta Reservas Bancárias ou de Liquidação no Bacen.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IFNLiqdant' type='ISelic' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>IF Não Liquidante</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador Selic do participante que não possui conta Reservas Bancárias nem Conta de Liquidação no Bacen.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtMovto' type='xs:date'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Movimento</cat:NomeCampo>
            <cat:DescricaoCampo>Data de movimento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='SEL1096R1ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='CodMsg' fixed='SEL1096R1'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Mensagem</cat:NomeCampo>
            <cat:DescricaoCampo>Código da mensagem do sistema associado ao evento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='NumCtrlIF' type='ControleIF'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Número Controle IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de controleda IF</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='ISPBIF' type='ISPB'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>ISPB IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de identificação da Instituição Financeira no Sistema de Pagamentos  Brasileiro</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='Grupo_SEL1096R1_LimFinanc' type='Grupo_SEL1096R1_LimFinancComplexType' minOccurs='0' maxOccurs='100'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Grupo Limite Financeiro</cat:NomeCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtHrBC' type='xs:dateTime'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Hora Bacen</cat:NomeCampo>
            <cat:DescricaoCampo>Data e hora do processamento no Banco Central</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtMovto' type='xs:date'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Movimento</cat:NomeCampo>
            <cat:DescricaoCampo>Data de movimento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_SEL1096R1_LimFinancComplexType'>
  <xs:sequence>
    <xs:element name='IFLiqdant' type='ISelic'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>IF Liquidante</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador Selic do participante com conta Reservas Bancárias ou de Liquidação no Bacen.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IFNLiqdant' type='ISelic'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>IF Não Liquidante</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador Selic do participante que não possui conta Reservas Bancárias nem Conta de Liquidação no Bacen.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='VlrLimFinancDft' type='Valor'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Valor Limite Financeiro default</cat:NomeCampo>
            <cat:DescricaoCampo>Valor limite registrado pelo Liquidante para a IF não Liqüidante na abertura.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='SldVlrLimFinanc' type='Valor'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Saldo Valor Limite Financeiro</cat:NomeCampo>
            <cat:DescricaoCampo>Saldo do Valor limite registrado pelo Liquidante para a IF não Liqüidante  naquele momento do dia.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do USRMSG da mensagem -->
 
<xs:simpleType name='USERMSGSimpleType'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1048576'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao dos tipos simples do evento -->
 
<xs:simpleType name='DomSist'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Domínio de sistema</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='5'/>
    <xs:maxLength value='5'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdOperad'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identificador pessoal do operador.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='32'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Indr'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indicador "Sim" ou "Não"</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='1'/>
    <xs:pattern value='S|N'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ISPB'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identificador do participante junto ao Banco Central para o Sistema de Pagamentos Brasileiro.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
    <xs:pattern value='[0-9A-Z]{8}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NumSeq'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número sequencial que indica a ordem das mensagens particionadas.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='9'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NUOp'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número único da operação. Formato: para o Domínio de Sistema SPB02 = XXXXXXXXAAMMDDSSSSSSSSS em que XXXXXXXX - ISPB; AAMMDD - data; SSSSSSSSS - sequencial. Para os demais domínios de sistema = XXXXXXXXAAAAMMDDSSSSSSS em que XXXXXXXX - ISPB ou CNPJ de 8 posições; AAAAMMDD - data; SSSSSSS - sequencial.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='23'/>
    <xs:maxLength value='23'/>
    <xs:pattern value='[0-9A-Z]{8}[0-9]{15}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodMsg'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Código da mensagem do sistema associado ao evento.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='7'/>
    <xs:maxLength value='9'/>
    <xs:pattern value='[A-Z]{3}[0-9]{4}(E|R1|R2|R3)?'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ControleIF'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número de Controle da IF</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='20'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ISelic'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identificador do participante do Selic.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
    <xs:pattern value='[0-9A-Z]{8}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Valor'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Valor. Até dezessete inteiros e dois decimais e sinalizado. Para valores menores que zero, o valor será precedido pelo sinal "-". Exemplo: para 20 negativo informe -20 . Deve ser informado o ponto separador caso tenha  decimais. Exemplo: para R$100,00 informe 100; para R$100,10 informe 100.1; para R$100,11 informe 100.11; para R$100,11 negativo informe -100.11</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:decimal'>
    <xs:totalDigits value='19'/>
    <xs:fractionDigits value='2'/>
    <xs:minExclusive value='-100000000000000000'/>
    <xs:maxExclusive value='100000000000000000'/>
  </xs:restriction>
</xs:simpleType>
 
</xs:schema>
