XSD/LDL/LDL0026.XSD

<?xml version='1.0' encoding='ISO-8859-1'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
    xmlns:cat='http://www.bcb.gov.br/catalogomsg'
    targetNamespace='http://www.bcb.gov.br/SPB/LDL0026.xsd'
    xmlns='http://www.bcb.gov.br/SPB/LDL0026.xsd'
    elementFormDefault='qualified'
    version='5.10'>
 
<!-- Definicao da mensagem -->
 
<xs:element name='DOC' type='DOCComplexType'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfEvento>
        <cat:Evento>LDL0026 - IF consulta Posição de resultado líquido de negociação</cat:Evento>
        <cat:Descricao>Destinado à IF consultar o resultado líquido de negociações ou o saldo remanescente de pagamentos parciais de IF Liquidante ou dos seus não liquidantes.</cat:Descricao>
        <cat:Observacao>O CNPJ do banco liquidante também constará do item de repetição sempre que houver resultado de sua responsabilidade.</cat:Observacao>
        <cat:Servico>Previsão de Liquidação de Negociações LDL</cat:Servico>
        <cat:TipoFluxo>Fluxo4</cat:TipoFluxo>
      </cat:InfEvento>
    </xs:documentation>
  </xs:annotation>
</xs:element>
 
<xs:complexType name='DOCComplexType'>
  <xs:sequence>
    <xs:element name='BCMSG' type='BCMSGComplexType'/>
    <xs:element name='SISMSG' type='SISMSGComplexType'/>
    <xs:element name='USERMSG' type='USERMSGSimpleType' minOccurs='0'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do BCMSG da mensagem -->
 
<xs:complexType name='BCMSGComplexType'>
  <xs:sequence>
    <xs:element name='IdentdEmissor' type='ISPB'/>
    <xs:element name='IdentdDestinatario' type='ISPB'/>
    <xs:element name='IdentdContg' type='ISPB' minOccurs='0'/>
    <xs:element name='IdentdOperad' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='IdentdOperadConfc' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='Grupo_Seq' type='Grupo_SeqComplexType' minOccurs='0'/>
    <xs:element name='DomSist' type='DomSist'/>
    <xs:element name='NUOp' type='NUOp'/>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_SeqComplexType'>
  <xs:sequence>
    <xs:element name='NumSeq' type='NumSeq'/>
    <xs:element name='IndrCont' type='Indr'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do SISMSG da mensagem -->
 
<xs:complexType name='SISMSGComplexType'>
  <xs:choice>
    <xs:element name='LDL0026' type='LDL0026ComplexType'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfMensagem>
            <cat:Mensagem>Consulta Resultado Líquido Negociação</cat:Mensagem>
            <cat:Emissor>IF</cat:Emissor>
            <cat:Destinatario>Câmara LDL</cat:Destinatario>
          </cat:InfMensagem>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='LDL0026R1' type='LDL0026R1ComplexType'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfMensagem>
            <cat:Mensagem>Resposta à Consulta Resultado Líquido Negociação</cat:Mensagem>
            <cat:Emissor>Câmara LDL</cat:Emissor>
            <cat:Destinatario>IF</cat:Destinatario>
          </cat:InfMensagem>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:choice>
</xs:complexType>
 
<xs:complexType name='LDL0026ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='CodMsg' fixed='LDL0026'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Mensagem</cat:NomeCampo>
            <cat:DescricaoCampo>Código da mensagem do sistema associado ao evento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='NumCtrlIF' type='ControleIF'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Número Controle IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de controleda IF</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='ISPBIF' type='ISPB'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>ISPB IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de identificação da Instituição Financeira no Sistema de Pagamentos  Brasileiro</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='ISPBLDL' type='ISPB'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>ISPB LDL</cat:NomeCampo>
            <cat:DescricaoCampo>Número de identificação da Câmara LDL no Sistema de Pagamentos </cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtLiquid' type='xs:date'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Liquidação</cat:NomeCampo>
            <cat:DescricaoCampo>Data de liquidação de uma operação a termo</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtMovto' type='xs:date'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Movimento</cat:NomeCampo>
            <cat:DescricaoCampo>Data de movimento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='LDL0026R1ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='CodMsg' fixed='LDL0026R1'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Mensagem</cat:NomeCampo>
            <cat:DescricaoCampo>Código da mensagem do sistema associado ao evento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='NumCtrlIF' type='ControleIF'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Número Controle IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de controleda IF</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='ISPBIF' type='ISPB'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>ISPB IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de identificação da Instituição Financeira no Sistema de Pagamentos  Brasileiro</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='ISPBLDL' type='ISPB'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>ISPB LDL</cat:NomeCampo>
            <cat:DescricaoCampo>Número de identificação da Câmara LDL no Sistema de Pagamentos </cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TpInf' type='TpInf'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Tipo Informação</cat:NomeCampo>
            <cat:DescricaoCampo>Identifica o tipo da informação.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtHrLDL' type='xs:dateTime'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Hora LDL</cat:NomeCampo>
            <cat:DescricaoCampo>Data hora LDL</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtLiquid' type='xs:date'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Liquidação</cat:NomeCampo>
            <cat:DescricaoCampo>Data de liquidação de uma operação a termo</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='Grupo_LDL0026R1_ResultLiqd' type='Grupo_LDL0026R1_ResultLiqdComplexType' minOccurs='0' maxOccurs='200'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Grupo Resultado Líquido</cat:NomeCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtMovto' type='xs:date'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Movimento</cat:NomeCampo>
            <cat:DescricaoCampo>Data de movimento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_LDL0026R1_ResultLiqdComplexType'>
  <xs:sequence>
    <xs:element name='CNPJNLiqdant' type='CNPJ'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>CNPJ Não Liquidante</cat:NomeCampo>
            <cat:DescricaoCampo>CNPJ do Não Liquidante</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdPartCamr' type='IdentdPartCamr' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Participante Câmara</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador do participante da câmara</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='VlrResultLiqdNLiqdant' type='Valor'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Valor Resultado Líquido Não Liquidante</cat:NomeCampo>
            <cat:DescricaoCampo>Valor do resultado líquido</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TpDeb_CredNLiqdant' type='TpDebCred'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Tipo Débito ou Crédito Não Liquidante</cat:NomeCampo>
            <cat:DescricaoCampo>Identifica o tipo de um lançamento, se é de débito ou crédito.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='VlrRemnstNLiqdant' type='Valor' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Valor Remanescente Não Liquidante</cat:NomeCampo>
            <cat:DescricaoCampo>Valor remanescente não liquidante</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TpDeb_CredRemnst' type='TpDebCred' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Tipo Débito ou Crédito Remanescente</cat:NomeCampo>
            <cat:DescricaoCampo>Identifica o tipo de um lançamento, se é de débito ou crédito.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do USRMSG da mensagem -->
 
<xs:simpleType name='USERMSGSimpleType'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1048576'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao dos tipos simples do evento -->
 
<xs:simpleType name='DomSist'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Domínio de sistema</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='5'/>
    <xs:maxLength value='5'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdOperad'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identificador pessoal do operador.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='32'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Indr'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indicador "Sim" ou "Não"</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='1'/>
    <xs:pattern value='S|N'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ISPB'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identificador do participante junto ao Banco Central para o Sistema de Pagamentos Brasileiro.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
    <xs:pattern value='[0-9A-Z]{8}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NumSeq'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número sequencial que indica a ordem das mensagens particionadas.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='9'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NUOp'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número único da operação. Formato: para o Domínio de Sistema SPB02 = XXXXXXXXAAMMDDSSSSSSSSS em que XXXXXXXX - ISPB; AAMMDD - data; SSSSSSSSS - sequencial. Para os demais domínios de sistema = XXXXXXXXAAAAMMDDSSSSSSS em que XXXXXXXX - ISPB ou CNPJ de 8 posições; AAAAMMDD - data; SSSSSSS - sequencial.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='23'/>
    <xs:maxLength value='23'/>
    <xs:pattern value='[0-9A-Z]{8}[0-9]{15}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CNPJ'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número de Identificação da Pessoa Jurídica no Cadastro Nacional de Pessoa Jurídica</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='14'/>
    <xs:maxLength value='14'/>
    <xs:pattern value='[0-9A-Z]{12}[0-9]{2}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodMsg'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Código da mensagem do sistema associado ao evento.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='7'/>
    <xs:maxLength value='9'/>
    <xs:pattern value='[A-Z]{3}[0-9]{4}(E|R1|R2|R3)?'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ControleIF'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número de Controle da IF</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='20'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdPartCamr'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identificador do participante da câmara</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='8'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TpDebCred'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indica o tipo de lançamento, se Débito ou Crédito.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TpInf'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Tipo da informação.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Valor'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Valor. Até dezessete inteiros e dois decimais e sinalizado. Para valores menores que zero, o valor será precedido pelo sinal "-". Exemplo: para 20 negativo informe -20 . Deve ser informado o ponto separador caso tenha  decimais. Exemplo: para R$100,00 informe 100; para R$100,10 informe 100.1; para R$100,11 informe 100.11; para R$100,11 negativo informe -100.11</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:decimal'>
    <xs:totalDigits value='19'/>
    <xs:fractionDigits value='2'/>
    <xs:minExclusive value='-100000000000000000'/>
    <xs:maxExclusive value='100000000000000000'/>
  </xs:restriction>
</xs:simpleType>
 
</xs:schema>
