XSD/LDL/LDL1006E.XSD

<?xml version='1.0' encoding='ISO-8859-1'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
    targetNamespace='http://www.bcb.gov.br/SPB/LDL1006E.xsd'
    xmlns='http://www.bcb.gov.br/SPB/LDL1006E.xsd'
    elementFormDefault='qualified'
    version='5.10'>
 
<!-- Definicao da mensagem -->
 
<xs:element name='DOC' type='DOCComplexType'/>
 
<xs:complexType name='DOCComplexType'>
  <xs:sequence>
    <xs:element name='BCMSG' type='BCMSGComplexType'/>
    <xs:element name='SISMSG' type='SISMSGComplexType'/>
    <xs:element name='USERMSG' type='USERMSGSimpleType' minOccurs='0'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do BCMSG da mensagem -->
 
<xs:complexType name='BCMSGComplexType'>
  <xs:sequence>
    <xs:element name='IdentdEmissor' type='ISPB'/>
    <xs:element name='IdentdDestinatario' type='ISPB'/>
    <xs:element name='IdentdContg' type='ISPB' minOccurs='0'/>
    <xs:element name='IdentdOperad' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='IdentdOperadConfc' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='Grupo_Seq' type='Grupo_SeqComplexType' minOccurs='0'/>
    <xs:element name='DomSist' type='DomSist'/>
    <xs:element name='NUOp' type='NUOp'/>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_SeqComplexType'>
  <xs:sequence>
    <xs:element name='NumSeq' type='NumSeq'/>
    <xs:element name='IndrCont' type='Indr'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do SISMSG da mensagem -->
 
<xs:complexType name='SISMSGComplexType'>
  <xs:choice>
    <xs:element name='LDL1006' type='LDL1006ComplexType'/>
  </xs:choice>
</xs:complexType>
 
<xs:complexType name='LDL1006ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='TagErroComplexType'  fixed='LDL1006E'/>
    <xs:element name='NumCtrlIF' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='ISPBIF' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='ISPBLDL' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CNPJEntRespons' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpAtv' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpReq' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NumCtrlLDLOr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_LDL1006_Atv' type='Grupo_LDL1006_AtvComplexType'  minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='DtMovto' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_LDL1006_AtvComplexType'>
  <xs:sequence>
    <xs:element name='TpTitlar' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodTitlar' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpSubTitlar' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodSubTitlar' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NumAtv' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtVenc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='FinlddCob' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodProdt' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NumCtrlReqIF' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_LDL1006_SEL' type='Grupo_LDL1006_SELComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_LDL1006_CTP' type='Grupo_LDL1006_CTPComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_LDL1006_Fianc' type='Grupo_LDL1006_FiancComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_LDL1006_ME' type='Grupo_LDL1006_MEComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_LDL1006_Otr' type='Grupo_LDL1006_OtrComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_LDL1006_SELComplexType'>
  <xs:sequence>
    <xs:element name='IdentdTitSEL' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CtCed' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CtCes' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='QtdTit' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='QtdMinTit' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='PU' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='ChASEL' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_LDL1006_CTPComplexType'>
  <xs:sequence>
    <xs:element name='SubTpAtv' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NumOpCTP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IdentdPartCamr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IdentdCtrapartCamr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='PUAquis' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtAquis' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IdentdTitCTP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IdentdSistCTP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='EmissorActtCTP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TaxCTP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='FIRCTP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='QtdCTP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='QtdMinTitCTP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtEmsCTP' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_LDL1006_FiancComplexType'>
  <xs:sequence>
    <xs:element name='CNPJEmissorFianc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtEmsFianc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrFaceFianc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NumCtrlEmissorFianc' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_LDL1006_MEComplexType'>
  <xs:sequence>
    <xs:element name='CodMoeda' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrME' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrMinME' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_LDL1006_OtrComplexType'>
  <xs:sequence>
    <xs:element name='TpOtrAtv' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IdentdOtrAtv' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Qtd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='QtdMin' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Vlr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrMin' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='ISPBIFLiqdant' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<!-- Definicao do USRMSG da mensagem -->
 
<xs:simpleType name='USERMSGSimpleType'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1048576'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao dos tipos simples do evento -->
 
<xs:simpleType name='DomSist'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='5'/>
    <xs:maxLength value='5'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdOperad'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='32'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Indr'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='1'/>
    <xs:pattern value='S|N'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ISPB'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
    <xs:pattern value='[0-9A-Z]{8}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NumSeq'>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='9'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NUOp'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='23'/>
    <xs:maxLength value='23'/>
    <xs:pattern value='[0-9A-Z]{8}[0-9]{15}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodErro'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao do tipo complexo generico de erro com atributo -->
 
<xs:complexType name='TagErroComplexType'>
  <xs:simpleContent>
    <xs:extension base='xs:string'>
      <xs:attribute name='CodErro' type='CodErro'/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>
 
</xs:schema>
