XSD/COR/COR0005E.XSD

<?xml version='1.0' encoding='ISO-8859-1'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
    targetNamespace='http://www.bcb.gov.br/MES/COR0005E.xsd'
    xmlns='http://www.bcb.gov.br/MES/COR0005E.xsd'
    elementFormDefault='qualified'
    version='5.10'>
 
<!-- Definicao da mensagem -->
 
<xs:element name='DOC' type='DOCComplexType'/>
 
<xs:complexType name='DOCComplexType'>
  <xs:sequence>
    <xs:element name='BCMSG' type='BCMSGComplexType'/>
    <xs:element name='SISMSG' type='SISMSGComplexType'/>
    <xs:element name='USERMSG' type='USERMSGSimpleType' minOccurs='0'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do BCMSG da mensagem -->
 
<xs:complexType name='BCMSGComplexType'>
  <xs:sequence>
    <xs:element name='IdentdEmissor' type='ISPB'/>
    <xs:element name='IdentdDestinatario' type='ISPB'/>
    <xs:element name='IdentdContg' type='ISPB' minOccurs='0'/>
    <xs:element name='IdentdOperad' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='IdentdOperadConfc' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='Grupo_Seq' type='Grupo_SeqComplexType' minOccurs='0'/>
    <xs:element name='DomSist' type='DomSist'/>
    <xs:element name='NUOp' type='NUOp'/>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_SeqComplexType'>
  <xs:sequence>
    <xs:element name='NumSeq' type='NumSeq'/>
    <xs:element name='IndrCont' type='Indr'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do SISMSG da mensagem -->
 
<xs:complexType name='SISMSGComplexType'>
  <xs:choice>
    <xs:element name='COR0005' type='COR0005ComplexType'/>
  </xs:choice>
</xs:complexType>
 
<xs:complexType name='COR0005ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='TagErroComplexType'  fixed='COR0005E'/>
    <xs:element name='NumCtrlIF' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CNPJEntRespons' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NumRefBCCOROr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtVenc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodBaseLegalProrrogc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpInstntoCred' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrConfcAlertSustldd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_COR0005_DestcFincmnt' type='Grupo_COR0005_DestcFincmntComplexType'  minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='DtMovto' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_DestcFincmntComplexType'>
  <xs:sequence>
    <xs:element name='NumOrdemDestcOr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrProdddObtd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_COR0005_Librc' type='Grupo_COR0005_LibrcComplexType'  minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='Grupo_COR0005_Cooperd' type='Grupo_COR0005_CooperdComplexType'  minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='TpFnteRec' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_COR0005_Gleba' type='Grupo_COR0005_GlebaComplexType'  minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='PercJurosEncargoFinancPosfix' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpEncargoFinancCompltar' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Area' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='QtdItemFincd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='PercCstEftTot' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_COR0005_Propt' type='Grupo_COR0005_ProptComplexType'  minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='Grupo_COR0005_CertifcOrgnco' type='Grupo_COR0005_CertifcOrgncoComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_COR0005_RastlddEmpnmnt' type='Grupo_COR0005_RastlddEmpnmntComplexType'  minOccurs='0'/>
    <xs:element name='PercEnerRenovvlEmpnmnt' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodSTNEqulzc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_COR0005_DesclassTot' type='Grupo_COR0005_DesclassTotComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_COR0005_DesclassParcl' type='Grupo_COR0005_DesclassParclComplexType'  minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='CodProg_LinhaCred' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodSubprog' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='PercJurosEncargoFinanc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='PercBonusCAR' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_COR0005_Parcl' type='Grupo_COR0005_ParclComplexType'  minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='CNPJBaseInstExigldd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='PercBonusSustvl' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpConfdd' type='TagErroComplexType'  minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_LibrcComplexType'>
  <xs:sequence>
    <xs:element name='DtLibrcRecEmpnmnt' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrRecLibrc' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_CooperdComplexType'>
  <xs:sequence>
    <xs:element name='TpPessoaCooperd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CNPJ_CPFCooperd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrParclCooperd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodProg_LinhaCredCooperd' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_GlebaComplexType'>
  <xs:sequence>
    <xs:element name='IdentcGleba' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_COR0005_PontoPolg' type='Grupo_COR0005_PontoPolgComplexType'  minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='AreaNCultd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_COR0005_GlebaExcl' type='Grupo_COR0005_GlebaExclComplexType'  minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_PontoPolgComplexType'>
  <xs:sequence>
    <xs:element name='LatPonto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='LongPonto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='AlttPonto' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_GlebaExclComplexType'>
  <xs:sequence>
    <xs:element name='Grupo_COR0005_PontoPolgExcl' type='Grupo_COR0005_PontoPolgExclComplexType'  minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_PontoPolgExclComplexType'>
  <xs:sequence>
    <xs:element name='LatPontoExcl' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='LongPontoExcl' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='AlttPontoExcl' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_ProptComplexType'>
  <xs:sequence>
    <xs:element name='TpPessoaPropt' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CNPJBase_CPFPropt' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CIB' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodSNCR' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NumRegCAR' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NumOutgAguaPropr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='PercPrescPropr' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_CertifcOrgncoComplexType'>
  <xs:sequence>
    <xs:element name='CodCertifcOrgncoEmpnmnt' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='URLCodCertifcOrgncoEmpnmnt' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_RastlddEmpnmntComplexType'>
  <xs:sequence>
    <xs:element name='CodRastlddEmpnmnt' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='URLCodRastlddEmpnmnt' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_DesclassTotComplexType'>
  <xs:sequence>
    <xs:element name='DtDesclassTotEmpnmnt' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='MotvDesclassTotCOR' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_DesclassParclComplexType'>
  <xs:sequence>
    <xs:element name='DtDesclassParclEmpnmnt' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrDesclascd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='MotvDesclassCOR' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_COR0005_ParclComplexType'>
  <xs:sequence>
    <xs:element name='NumParcl' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtPrvPgto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrPrincipalParcl' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<!-- Definicao do USRMSG da mensagem -->
 
<xs:simpleType name='USERMSGSimpleType'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1048576'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao dos tipos simples do evento -->
 
<xs:simpleType name='DomSist'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='5'/>
    <xs:maxLength value='5'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdOperad'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='32'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Indr'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='1'/>
    <xs:pattern value='S|N'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ISPB'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
    <xs:pattern value='[0-9A-Z]{8}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NumSeq'>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='9'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NUOp'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='23'/>
    <xs:maxLength value='23'/>
    <xs:pattern value='[0-9A-Z]{8}[0-9]{15}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodErro'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao do tipo complexo generico de erro com atributo -->
 
<xs:complexType name='TagErroComplexType'>
  <xs:simpleContent>
    <xs:extension base='xs:string'>
      <xs:attribute name='CodErro' type='CodErro'/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>
 
</xs:schema>
