XSD/CTP/CTP1010.XSD

<?xml version='1.0' encoding='ISO-8859-1'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
    xmlns:cat='http://www.bcb.gov.br/catalogomsg'
    targetNamespace='http://www.bcb.gov.br/SPB/CTP1010.xsd'
    xmlns='http://www.bcb.gov.br/SPB/CTP1010.xsd'
    elementFormDefault='qualified'
    version='5.10'>
 
<!-- Definicao da mensagem -->
 
<xs:element name='DOC' type='DOCComplexType'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfEvento>
        <cat:Evento>CTP1010 - IF consulta operação de Derivativos</cat:Evento>
        <cat:Descricao>Destinado à IF consultar operação de derivativo.</cat:Descricao>
        <cat:Servico>Consulta de Operações</cat:Servico>
        <cat:TipoFluxo>Fluxo4</cat:TipoFluxo>
      </cat:InfEvento>
    </xs:documentation>
  </xs:annotation>
</xs:element>
 
<xs:complexType name='DOCComplexType'>
  <xs:sequence>
    <xs:element name='BCMSG' type='BCMSGComplexType'/>
    <xs:element name='SISMSG' type='SISMSGComplexType'/>
    <xs:element name='USERMSG' type='USERMSGSimpleType' minOccurs='0'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do BCMSG da mensagem -->
 
<xs:complexType name='BCMSGComplexType'>
  <xs:sequence>
    <xs:element name='IdentdEmissor' type='ISPB'/>
    <xs:element name='IdentdDestinatario' type='ISPB'/>
    <xs:element name='IdentdContg' type='ISPB' minOccurs='0'/>
    <xs:element name='IdentdOperad' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='IdentdOperadConfc' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='Grupo_Seq' type='Grupo_SeqComplexType' minOccurs='0'/>
    <xs:element name='DomSist' type='DomSist'/>
    <xs:element name='NUOp' type='NUOp'/>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_SeqComplexType'>
  <xs:sequence>
    <xs:element name='NumSeq' type='NumSeq'/>
    <xs:element name='IndrCont' type='Indr'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do SISMSG da mensagem -->
 
<xs:complexType name='SISMSGComplexType'>
  <xs:choice>
    <xs:element name='CTP1010' type='CTP1010ComplexType'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfMensagem>
            <cat:Mensagem>Consulta Operação de derivativo</cat:Mensagem>
            <cat:Emissor>IF</cat:Emissor>
            <cat:Destinatario>Câmara CTP</cat:Destinatario>
          </cat:InfMensagem>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='CTP1010R1' type='CTP1010R1ComplexType'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfMensagem>
            <cat:Mensagem>Resposta à Consulta Operação de Derivativo</cat:Mensagem>
            <cat:Emissor>Câmara CTP</cat:Emissor>
            <cat:Destinatario>IF</cat:Destinatario>
          </cat:InfMensagem>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:choice>
</xs:complexType>
 
<xs:complexType name='CTP1010ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='CodMsg' fixed='CTP1010'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Mensagem</cat:NomeCampo>
            <cat:DescricaoCampo>Código da mensagem do sistema associado ao evento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='ISPBIF' type='ISPB'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>ISPB IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de identificação da Instituição Financeira no Sistema de Pagamentos  Brasileiro</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='NumCtrlIF' type='ControleIF'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Número Controle IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de controleda IF</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdPartCamr' type='IdentdPartCamr'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Participante Câmara</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador do participante da câmara</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='CodArea' type='CodArea' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Área</cat:NomeCampo>
            <cat:DescricaoCampo>Código do área</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdCtrapartCamr' type='IdentdPartCamr'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Contraparte Câmara</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador da contraparte  na Câmara</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='CodOpCTP' type='CodOpCTP'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Operação CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Código Operação CETIP</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='SubTpAtv' type='SubTpAtv'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>SubTipo Ativo</cat:NomeCampo>
            <cat:DescricaoCampo>SubTipo do ativo.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdTitCTP' type='IdentdTitCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Título CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador único de um ativo custodiado na CETIP.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='NumOpPart' type='NumOpCETIP'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Número Operação Participante</cat:NomeCampo>
            <cat:DescricaoCampo>Número da operação informado pelo Participante</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='NumOpCTP' type='NumOpCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Número Operação CTP</cat:NomeCampo>
            <cat:DescricaoCampo>Número da operação CETIP - Será informado na solicitação de cobertura de  garantias</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtMovto' type='xs:date'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Movimento</cat:NomeCampo>
            <cat:DescricaoCampo>Data de movimento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='CTP1010R1ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='CodMsg' fixed='CTP1010R1'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Mensagem</cat:NomeCampo>
            <cat:DescricaoCampo>Código da mensagem do sistema associado ao evento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='NumCtrlIF' type='ControleIF'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Número Controle IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de controleda IF</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='ISPBIF' type='ISPB'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>ISPB IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de identificação da Instituição Financeira no Sistema de Pagamentos  Brasileiro</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='NumCtrlCTP' type='ControleIF'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Número Controle CTP</cat:NomeCampo>
            <cat:DescricaoCampo>Número controle da CETIP</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdPartCamr' type='IdentdPartCamr'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Participante Câmara</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador do participante da câmara</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdCtrapartCamr' type='IdentdPartCamr' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Contraparte Câmara</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador da contraparte  na Câmara</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='CodOpCTP' type='CodOpCTP'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Operação CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Código Operação CETIP</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='SubTpAtv' type='SubTpAtv' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>SubTipo Ativo</cat:NomeCampo>
            <cat:DescricaoCampo>SubTipo do ativo.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdTitCTP' type='IdentdTitCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Título CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador único de um ativo custodiado na CETIP.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TpCompra_Venda' type='TpCompra_Venda' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Tipo Compra ou Venda</cat:NomeCampo>
            <cat:DescricaoCampo>Identifica a posição do participante em relação à operação no que se refere à custódia: venda (da carteira própria ou de repasse) ou compra.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtIni' type='xs:date' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Início</cat:NomeCampo>
            <cat:DescricaoCampo>Data início de pesquisa.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtVenc' type='xs:date' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Vencimento</cat:NomeCampo>
            <cat:DescricaoCampo>Data de Vencimento</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='NumOpPart' type='NumOpCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Número Operação Participante</cat:NomeCampo>
            <cat:DescricaoCampo>Número da operação informado pelo Participante</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='ModLiquid' type='ModLiq' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Modalidade Liquidação</cat:NomeCampo>
            <cat:DescricaoCampo>Modalidade de Liquidação Financeira da Operação</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdBLCamr' type='IdentdPartCamr' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Banco_Liquidante Câmara</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador do Banco Liquidante na Câmara</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='VlrFinanc' type='Valor' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Valor Financeiro</cat:NomeCampo>
            <cat:DescricaoCampo>Valor financeiro de uma operação.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtOpOr' type='xs:date' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Operação Original</cat:NomeCampo>
            <cat:DescricaoCampo>Data original do processamento da operação</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtOp' type='xs:date' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Operação</cat:NomeCampo>
            <cat:DescricaoCampo>Data do processamento da operação</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IndrContrtoGlb' type='Indr' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Indicador Contrato Global</cat:NomeCampo>
            <cat:DescricaoCampo>Indicador se o contrato adere as cláusulas do contrato global de derivativos</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TpCed_Adq' type='TpCed_Adq' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Tipo Cedente ou Adquirente</cat:NomeCampo>
            <cat:DescricaoCampo>Identifica a condição do participante na operação: se Cedente ou Adquirente.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdCedCamr' type='IdentdPartCamr' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Cedente Câmara</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador do Cedente na Câmara</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdAdqCamr' type='IdentdPartCamr' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Adquirente Câmara</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador do Adquirente na Câmara</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdAnuenteCamr' type='IdentdPartCamr' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Anuente Câmara</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador do Anuente na Câmara</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='CodIndxTermoCTP' type='CodIndexCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Indexador Termo CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Código do indexador de correção até o início do contrato a termo na CETIP.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='PercTermo' type='Percentual' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Percentual Termo</cat:NomeCampo>
            <cat:DescricaoCampo>Valor percentual do PU Par</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IndrTpContrto' type='Indr' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Indicador Tipo Contrato</cat:NomeCampo>
            <cat:DescricaoCampo>Indicador do tipo do contrato: com ou sem barreiras ou opção  </cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IndrTitlar' type='Indr' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Indicador Titular</cat:NomeCampo>
            <cat:DescricaoCampo>Indica que o participante é titular da opção</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TpContrtoSwap' type='TpContrtoSwap' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Tipo Contrato Swap</cat:NomeCampo>
            <cat:DescricaoCampo>Identifica o tipo de contrato de Swap.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='NumOpCTPOr' type='NumOpCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Número Operação CTP Original</cat:NomeCampo>
            <cat:DescricaoCampo>Número da operação CETIP Original</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='PUCTPOr' type='PU' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Preço_Unitário CTP Original</cat:NomeCampo>
            <cat:DescricaoCampo>Preço Unitário da operação original</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IndrExercOpc' type='Indr' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Indicador Exercício Opção</cat:NomeCampo>
            <cat:DescricaoCampo>Indicador de exercício de opção sobre contrato de Swap</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='Grupo_CTP1010R1_InfContrto' type='Grupo_CTP1010R1_InfContrtoComplexType' minOccurs='0' maxOccurs='200'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Grupo Informação Contrato</cat:NomeCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='Grupo_CTP1010R1_InfTrig' type='Grupo_CTP1010R1_InfTrigComplexType' minOccurs='0' maxOccurs='200'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Grupo Informação Trigger</cat:NomeCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='Grupo_CTP1010R1_InfPrem' type='Grupo_CTP1010R1_InfPremComplexType'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Grupo Informação Prêmio</cat:NomeCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='Grupo_CTP1010R1_InfPrem2' type='Grupo_CTP1010R1_InfPrem2ComplexType'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Grupo Informação Prêmio 2</cat:NomeCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='CodMoeda' type='CodMoeda' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Moeda</cat:NomeCampo>
            <cat:DescricaoCampo>Código de identificação da moeda, padrão utilizado pelo BACEN, conforme  CNC, Capítulo 2, Título 22.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TaxCamNegcd' type='TaxOpcao' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Taxa Câmbio Negociada</cat:NomeCampo>
            <cat:DescricaoCampo>Taxa de câmbio negociada nas operações de Repo, operações definitivas, Repo Overnight ou Contrato de Termo de Moedas.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TaxCotParid' type='TaxOpcao' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Taxa Cotação Paridade</cat:NomeCampo>
            <cat:DescricaoCampo>Taxa de câmbio utilizada como paridade na conversão de outras moedas em relação ao USD.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IndrCR' type='Indr' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Indicador Cross_Rate</cat:NomeCampo>
            <cat:DescricaoCampo>Indicador de utilização de Cross Rate para avaliação</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TpContrtoTermo' type='TpContrtoTermo' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Tipo Contrato Termo</cat:NomeCampo>
            <cat:DescricaoCampo>Identifica o tipo de contrato de Termo de Moedas.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IndrDesloc' type='IndrDesloc' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Indicador Deslocamento</cat:NomeCampo>
            <cat:DescricaoCampo>Indicador do número de dias úteis de defasagem em relação ao vencimento para avaliação </cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TpFnte' type='TpFnte' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Tipo Fonte</cat:NomeCampo>
            <cat:DescricaoCampo>Identifica o tipo da fonte de informação de cotação de moeda</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IndrBol' type='IndrBol' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Indicador Boletim</cat:NomeCampo>
            <cat:DescricaoCampo>Indicador  do Boletim para atualização do contrato de termo de moedas</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DescRefCons' type='Descricao' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Descrição Referência Consulta</cat:NomeCampo>
            <cat:DescricaoCampo>Descrição da Referência da Consulta</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DescPcaCot' type='Descricao' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Descrição Praça Cotação</cat:NomeCampo>
            <cat:DescricaoCampo>Descrição da praça de referência da cotação</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DescHrioCons' type='Descricao' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Descrição Horário Consulta</cat:NomeCampo>
            <cat:DescricaoCampo>Descrição  do horário referência de apuração da consulta.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TpCotCam' type='TpCot' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Tipo Cotação Câmbio</cat:NomeCampo>
            <cat:DescricaoCampo>Identifica o tipo de cotação, se compra, venda ou média.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TpCotParid' type='TpCot' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Tipo Cotação Paridade</cat:NomeCampo>
            <cat:DescricaoCampo>Identifica se sem paridade, ou se compra, venda ou média.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtAval' type='xs:date' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Avaliação</cat:NomeCampo>
            <cat:DescricaoCampo>Data a partir da qual o contrato de termo pode ser avaliado</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtAtlzPU_Ftr' type='xs:date' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Atualização Preço_Unitário ou Fator</cat:NomeCampo>
            <cat:DescricaoCampo>Data de Atualização do PU ou Fator de Contratos de Derivativos</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='SitOpCTP' type='SitOpCTP'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Situação Operação CTP</cat:NomeCampo>
            <cat:DescricaoCampo>Situação de uma operação que foi comandada na Câmara CETIP</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtHrSit' type='xs:dateTime'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Hora Situação</cat:NomeCampo>
            <cat:DescricaoCampo>Data e hora da situação.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtHrCTP' type='xs:dateTime'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Hora CTP</cat:NomeCampo>
            <cat:DescricaoCampo>Data e hora da geração da mensagem</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtMovto' type='xs:date'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Movimento</cat:NomeCampo>
            <cat:DescricaoCampo>Data de movimento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_CTP1010R1_InfContrtoComplexType'>
  <xs:sequence>
    <xs:element name='IndrPart_Ctrapart' type='IndrPart_Ctrapart'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Indicador Participante ou Contraparte</cat:NomeCampo>
            <cat:DescricaoCampo>Indicador se os dados informados se referem ao participante ou à contraparte</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdCliCamr' type='IdentdPartCamr' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Cliente Câmara</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador do cliente na Câmara</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='NomCli' type='Nome' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Nome Cliente</cat:NomeCampo>
            <cat:DescricaoCampo>Nome do cliente</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TpCli' type='TpCli' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Tipo Cliente</cat:NomeCampo>
            <cat:DescricaoCampo>Identifica o tipo de natureza jurídica do cliente</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='PercParmJurosCTP' type='PercJuros' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Percentual Parâmetro Juros CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Percentual sobre parâmetro de flutuação de juros CETIP.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='CodIndxCTP' type='CodIndexCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Indexador CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Código do indexador do CETIP.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtIndx' type='xs:date' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Indexador</cat:NomeCampo>
            <cat:DescricaoCampo>Data de referencia do indexador</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TaxCTP' type='TaxCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Taxa CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Taxa de juros CETIP.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DescIndxEspcl' type='DescIndxEspcl' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Descrição Indexador Especial</cat:NomeCampo>
            <cat:DescricaoCampo>Descrição do Indexador Especial</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IndrTpRef' type='IndrTpRef' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Indicador Tipo Referência</cat:NomeCampo>
            <cat:DescricaoCampo>Indicador  se PU ou Fator como referência de atualização de contratos  </cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='PU_FtrRef' type='PU' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Preço_Unitário ou Fator Referência</cat:NomeCampo>
            <cat:DescricaoCampo>Preço Unitário ou Fator de referência.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TaxIntmdc' type='TaxaIntmdc' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Taxa Intermediação</cat:NomeCampo>
            <cat:DescricaoCampo>Taxa de intermediação na operação</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='ParmRef' type='PU' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Parâmetro Referência</cat:NomeCampo>
            <cat:DescricaoCampo>Parâmetro de referência para fator, PU ou taxa para contrato de Swap</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='Grupo_CTP1010R1_InfLim' type='Grupo_CTP1010R1_InfLimComplexType' minOccurs='0' maxOccurs='200'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Grupo Informação Limite</cat:NomeCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_CTP1010R1_InfLimComplexType'>
  <xs:sequence>
    <xs:element name='IndrLim' type='IndrLim' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Indicador Limite</cat:NomeCampo>
            <cat:DescricaoCampo>Indicador do tipo de Limite: se superior ou inferior</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='FtrLim' type='PU' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Fator Limite</cat:NomeCampo>
            <cat:DescricaoCampo>Valor absoluto atribuído como limite superior ou inferior</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='PercParmJurosLimCTP' type='Percentual' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Percentual Parâmetro Juros Limite CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Percentual sobre parâmetro de flutuação de juros ou sobre o indexador limitador CETIP.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='CodIndxLimCTP' type='CodIndexCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Indexador Limite CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Código do indexador limitador da CETIP.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='TaxLimCTP' type='TaxCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Taxa Limite CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Taxa de juros limitadora da CETIP.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_CTP1010R1_InfTrigComplexType'>
  <xs:sequence>
    <xs:element name='TpTrig' type='TpTrig' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Tipo Trigger</cat:NomeCampo>
            <cat:DescricaoCampo>Identifica o tipo de trigger do contrato de swap.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='ParmRefTrig' type='PU' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Parâmetro Referência Trigger</cat:NomeCampo>
            <cat:DescricaoCampo>Parâmetro de referência para fator, PU ou ta</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='CodIndxTrigCTP' type='CodIndexCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Indexador Trigger CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Código do indexador para verificação de trigger de contrato</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IndrPeriod' type='IndrPeriod' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Indicador Periodicidade</cat:NomeCampo>
            <cat:DescricaoCampo>Indicador de periodicidade de verificação do parâmetro do trigger  </cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_CTP1010R1_InfPremComplexType'>
  <xs:sequence>
    <xs:element name='VlrPrem' type='Valor' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Valor Prêmio</cat:NomeCampo>
            <cat:DescricaoCampo>Valor do prêmio pago no início do contrato</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='VlrRebt' type='Valor' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Valor Rebate</cat:NomeCampo>
            <cat:DescricaoCampo>Valor Financeiro do Rebate</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IndrFormaLiquidRebt' type='IndrFormaLiquidRebt' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Indicador Forma Liquidação Rebate</cat:NomeCampo>
            <cat:DescricaoCampo>Indica a forma de liquidação do Rebate.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='PrzLiquidRebt' type='QtdDias' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Prazo Liquidação Rebate</cat:NomeCampo>
            <cat:DescricaoCampo>Quantidade de Dias Úteis após ocorrência do Knock out para liquidação do rebate  </cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_CTP1010R1_InfPrem2ComplexType'>
  <xs:sequence>
    <xs:element name='VlrPrem2' type='Valor' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Valor Prêmio 2</cat:NomeCampo>
            <cat:DescricaoCampo>Valor do prêmio pago na data de exercício da opção</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtExerc' type='xs:date' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Exercício</cat:NomeCampo>
            <cat:DescricaoCampo>Data do Exercício</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do USRMSG da mensagem -->
 
<xs:simpleType name='USERMSGSimpleType'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1048576'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao dos tipos simples do evento -->
 
<xs:simpleType name='DomSist'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Domínio de sistema</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='5'/>
    <xs:maxLength value='5'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdOperad'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identificador pessoal do operador.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='32'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Indr'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indicador "Sim" ou "Não"</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='1'/>
    <xs:pattern value='S|N'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ISPB'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identificador do participante junto ao Banco Central para o Sistema de Pagamentos Brasileiro.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
    <xs:pattern value='[0-9A-Z]{8}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NumSeq'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número sequencial que indica a ordem das mensagens particionadas.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='9'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NUOp'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número único da operação. Formato: para o Domínio de Sistema SPB02 = XXXXXXXXAAMMDDSSSSSSSSS em que XXXXXXXX - ISPB; AAMMDD - data; SSSSSSSSS - sequencial. Para os demais domínios de sistema = XXXXXXXXAAAAMMDDSSSSSSS em que XXXXXXXX - ISPB ou CNPJ de 8 posições; AAAAMMDD - data; SSSSSSS - sequencial.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='23'/>
    <xs:maxLength value='23'/>
    <xs:pattern value='[0-9A-Z]{8}[0-9]{15}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodArea'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Código da área ou família de agrupamento de participantes</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='20'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodIndexCETIP'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indexador do ativo. </cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='3'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodMoeda'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Código de identificação da moeda, padrão utilizado pelo BACEN, conforme CNC, Capítulo 2, Título 22.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='3'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodMsg'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Código da mensagem do sistema associado ao evento.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='7'/>
    <xs:maxLength value='9'/>
    <xs:pattern value='[A-Z]{3}[0-9]{4}(E|R1|R2|R3)?'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodOpCTP'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Código Operação CETIP</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='5'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ControleIF'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número de Controle da IF</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='20'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='DescIndxEspcl'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Descriçao do Indexador Especial</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='15'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Descricao'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Campo descritivo</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='80'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdPartCamr'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identificador do participante da câmara</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='8'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdTitCETIP'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Código identificador de um título na CETIP. Em qualquer sistema preencher com o código do título.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='14'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IndrBol'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indicador  do bpletim para atualização do contrato de termo de moedas.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IndrDesloc'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indicador do número de dias úteis de defasagem em relação ao vencimento para avaliação</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IndrFormaLiquidRebt'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indicador da forma de liquidação do Rebate</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IndrLim'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indicador do tipo de limite.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='2'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IndrPart_Ctrapart'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indicador se os dados informados se referem ao participante ou à contraparte</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IndrPeriod'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indicador de periodicidade de verificação do parâmetro do trigger. </cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IndrTpRef'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indica se referencial de atualização é PU ou Fator</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ModLiq'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Modalidade de Liquidação Financeira da Operação</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Nome'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Nome</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='80'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NumOpCETIP'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número da operação CETIP.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='16'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Percentual'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número percentual. Até três inteiros e dois decimais. Deve ser informado o ponto separador. Exemplo:para 25% informe 25;para 40,5% informe 40.5;para 98,75% informe 98.75</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:decimal'>
    <xs:totalDigits value='5'/>
    <xs:fractionDigits value='2'/>
    <xs:minExclusive value='-1000'/>
    <xs:maxExclusive value='1000'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='PercJuros'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número percentual. Até três inteiros e cinco decimais. Deve ser informado o ponto separador.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:decimal'>
    <xs:totalDigits value='8'/>
    <xs:fractionDigits value='5'/>
    <xs:minExclusive value='-1000'/>
    <xs:maxExclusive value='1000'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='PU'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Preço unitário de um título. Até 10 inteiros e 8 decimais. Deve ser informado o ponto separador.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:decimal'>
    <xs:totalDigits value='18'/>
    <xs:fractionDigits value='8'/>
    <xs:minExclusive value='-10000000000'/>
    <xs:maxExclusive value='10000000000'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='QtdDias'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Quantidade de Dias Úteis ou Corridos</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='6'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='SitOpCTP'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Situação de uma operação que foi comandada na Câmara CETIP.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='3'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='SubTpAtv'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Tipo do subativo. </cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='4'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TaxaIntmdc'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Valor Percentual da Taxa de Intermediação na Operação.Até dois inteiros e oito decimais. Deve ser informado o ponto separador.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:decimal'>
    <xs:totalDigits value='10'/>
    <xs:fractionDigits value='8'/>
    <xs:minExclusive value='-100'/>
    <xs:maxExclusive value='100'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TaxCETIP'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Taxa de juros CETIP. Até cinco inteiros e quatro decimais. Deve ser informado o ponto separador caso tenha decimais. O valor menor que zero será precedido pelo sinal "-".</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:decimal'>
    <xs:totalDigits value='9'/>
    <xs:fractionDigits value='4'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TaxOpcao'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Taxa de Opção. Até 10 inteiros e 15 decimais. Deve ser informado o ponto separador caso tenha decimais. Exemplo: para R$1,00 informe 1 e para R$1,7567400 informe 1.75674.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:decimal'>
    <xs:totalDigits value='25'/>
    <xs:fractionDigits value='15'/>
    <xs:minExclusive value='-10000000000'/>
    <xs:maxExclusive value='10000000000'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TpCed_Adq'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identifica a condição do participante na operação: se Cedente ou Adquirentel.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TpCli'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indica o tipo da natureza jurídica do cliente</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TpCompra_Venda'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identifica a posição do participante em relação à operação no que se refere à custódia: venda (da carteira própria ou de repasse) ou compra.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TpContrtoSwap'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indica o tipo de contrato de swap.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TpContrtoTermo'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indica o tipo de contrato de Termo de Moedas.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TpCot'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indica o tipo de cotação ou tipo de cotação de paridade</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TpFnte'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identifica o tipo da fonte de informação de cotação de moeda.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='TpTrig'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Tipo de Trigger do contrato de Swap</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Valor'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Valor. Até dezessete inteiros e dois decimais e sinalizado. Para valores menores que zero, o valor será precedido pelo sinal "-". Exemplo: para 20 negativo informe -20 . Deve ser informado o ponto separador caso tenha  decimais. Exemplo: para R$100,00 informe 100; para R$100,10 informe 100.1; para R$100,11 informe 100.11; para R$100,11 negativo informe -100.11</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:decimal'>
    <xs:totalDigits value='19'/>
    <xs:fractionDigits value='2'/>
    <xs:minExclusive value='-100000000000000000'/>
    <xs:maxExclusive value='100000000000000000'/>
  </xs:restriction>
</xs:simpleType>
 
</xs:schema>
