XSD/CTP/CTP1006.XSD

<?xml version='1.0' encoding='ISO-8859-1'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
    xmlns:cat='http://www.bcb.gov.br/catalogomsg'
    targetNamespace='http://www.bcb.gov.br/SPB/CTP1006.xsd'
    xmlns='http://www.bcb.gov.br/SPB/CTP1006.xsd'
    elementFormDefault='qualified'
    version='5.10'>
 
<!-- Definicao da mensagem -->
 
<xs:element name='DOC' type='DOCComplexType'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfEvento>
        <cat:Evento>CTP1006 - CETIP informa movimentação de garantias no Sistema de Gestão de Garantias</cat:Evento>
        <cat:Descricao>Destinada à Câmara informar as movimentações de garantias ocorridas no âmbito do Sistema de Gestão de Garantias.</cat:Descricao>
        <cat:Servico>Consulta de Operações</cat:Servico>
        <cat:TipoFluxo>Fluxo5</cat:TipoFluxo>
      </cat:InfEvento>
    </xs:documentation>
  </xs:annotation>
</xs:element>
 
<xs:complexType name='DOCComplexType'>
  <xs:sequence>
    <xs:element name='BCMSG' type='BCMSGComplexType'/>
    <xs:element name='SISMSG' type='SISMSGComplexType'/>
    <xs:element name='USERMSG' type='USERMSGSimpleType' minOccurs='0'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do BCMSG da mensagem -->
 
<xs:complexType name='BCMSGComplexType'>
  <xs:sequence>
    <xs:element name='IdentdEmissor' type='ISPB'/>
    <xs:element name='IdentdDestinatario' type='ISPB'/>
    <xs:element name='IdentdContg' type='ISPB' minOccurs='0'/>
    <xs:element name='IdentdOperad' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='IdentdOperadConfc' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='Grupo_Seq' type='Grupo_SeqComplexType' minOccurs='0'/>
    <xs:element name='DomSist' type='DomSist'/>
    <xs:element name='NUOp' type='NUOp'/>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_SeqComplexType'>
  <xs:sequence>
    <xs:element name='NumSeq' type='NumSeq'/>
    <xs:element name='IndrCont' type='Indr'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do SISMSG da mensagem -->
 
<xs:complexType name='SISMSGComplexType'>
  <xs:choice>
    <xs:element name='CTP1006' type='CTP1006ComplexType'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfMensagem>
            <cat:Mensagem>Informa movimentação de garantias no Sistema de Gestão de Garantias</cat:Mensagem>
            <cat:Emissor>Câmara CTP</cat:Emissor>
            <cat:Destinatario>IF</cat:Destinatario>
          </cat:InfMensagem>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:choice>
</xs:complexType>
 
<xs:complexType name='CTP1006ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='CodMsg' fixed='CTP1006'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Mensagem</cat:NomeCampo>
            <cat:DescricaoCampo>Código da mensagem do sistema associado ao evento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='ISPBIF' type='ISPB'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>ISPB IF</cat:NomeCampo>
            <cat:DescricaoCampo>Número de identificação da Instituição Financeira no Sistema de Pagamentos  Brasileiro</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdPartCamrCredtd' type='IdentdPartCamr'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Participante Câmara Creditado</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador do participante creditado da câmara</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdPartCamrDebtd' type='IdentdPartCamr'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Participante Câmara Debitado</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador do participante debitado da câmara</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='CNPJ_CPFCliCredtd' type='CNPJ_CPF' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>CNPJ ou CPF Cliente Creditado</cat:NomeCampo>
            <cat:DescricaoCampo>CNPJ ou CPF do Cliente Creditado</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='CNPJ_CPFCliDebtd' type='CNPJ_CPF' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>CNPJ ou CPF Cliente Debitado</cat:NomeCampo>
            <cat:DescricaoCampo>CNPJ ou CPF do Cliente Debitado</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdTitISIN' type='CodISIN'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Título ISIN</cat:NomeCampo>
            <cat:DescricaoCampo>Código do identificador do título ISIN.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='IdentdTitCTP' type='IdentdTitCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Identificador Título CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Identificador único de um ativo custodiado na CETIP.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='SubTpAtv' type='SubTpAtv'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>SubTipo Ativo</cat:NomeCampo>
            <cat:DescricaoCampo>SubTipo do ativo.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtVenc' type='xs:date' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Vencimento</cat:NomeCampo>
            <cat:DescricaoCampo>Data de Vencimento</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='EmissorActtCTP' type='EmissorAcCETIP' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Emissor Aceitante CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Emissor ou aceitante CETIP.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='CodOpCTP' type='CodOpCTP'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Código Operação CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Código Operação CETIP</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='QtdCTP' type='QtdCTP'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Quantidade CETIP</cat:NomeCampo>
            <cat:DescricaoCampo>Quantidade de títulos no CETIP.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='PUNegc' type='PU' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Preço_Unitário Negociação</cat:NomeCampo>
            <cat:DescricaoCampo>Preço Unitário de negociação de um título</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='VlrFinanc' type='Valor' minOccurs='0'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Valor Financeiro</cat:NomeCampo>
            <cat:DescricaoCampo>Valor financeiro de uma operação.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtHrCTP' type='xs:dateTime'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Hora CTP</cat:NomeCampo>
            <cat:DescricaoCampo>Data e hora da geração da mensagem</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name='DtMovto' type='xs:date'>
      <xs:annotation>
        <xs:documentation>
          <cat:InfCampo>
            <cat:NomeCampo>Data Movimento</cat:NomeCampo>
            <cat:DescricaoCampo>Data de movimento.</cat:DescricaoCampo>
          </cat:InfCampo>
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do USRMSG da mensagem -->
 
<xs:simpleType name='USERMSGSimpleType'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1048576'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao dos tipos simples do evento -->
 
<xs:simpleType name='DomSist'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Domínio de sistema</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='5'/>
    <xs:maxLength value='5'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdOperad'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identificador pessoal do operador.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='32'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Indr'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Indicador "Sim" ou "Não"</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='1'/>
    <xs:pattern value='S|N'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ISPB'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identificador do participante junto ao Banco Central para o Sistema de Pagamentos Brasileiro.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
    <xs:pattern value='[0-9A-Z]{8}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NumSeq'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número sequencial que indica a ordem das mensagens particionadas.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='9'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NUOp'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número único da operação. Formato: para o Domínio de Sistema SPB02 = XXXXXXXXAAMMDDSSSSSSSSS em que XXXXXXXX - ISPB; AAMMDD - data; SSSSSSSSS - sequencial. Para os demais domínios de sistema = XXXXXXXXAAAAMMDDSSSSSSS em que XXXXXXXX - ISPB ou CNPJ de 8 posições; AAAAMMDD - data; SSSSSSS - sequencial.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='23'/>
    <xs:maxLength value='23'/>
    <xs:pattern value='[0-9A-Z]{8}[0-9]{15}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CNPJ_CPF'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Número de Identificação da Pessoa Jurídica no Cadastro Nacional de Pessoa Jurídica ou o Número no Cadastro de Pessoa Física. 2 - No caso de transferência para pessoas isentas de CNPJ ou CPF, o campo CNPJ ou CPF deve ser preenchido com zeros.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='11'/>
    <xs:maxLength value='14'/>
    <xs:pattern value='[0-9]{11}|[0-9A-Z]{12}[0-9]{2}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodISIN'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Código de identificação do ativo de acordo com a norma ISO 6166.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='12'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodMsg'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Código da mensagem do sistema associado ao evento.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='7'/>
    <xs:maxLength value='9'/>
    <xs:pattern value='[A-Z]{3}[0-9]{4}(E|R1|R2|R3)?'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodOpCTP'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Código Operação CETIP</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='5'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='EmissorAcCETIP'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Mnemônico que identifica o emissor, ou aceitante ou depositário do Título CETIP.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='20'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdPartCamr'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Identificador do participante da câmara</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='8'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdTitCETIP'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Código identificador de um título na CETIP. Em qualquer sistema preencher com o código do título.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='14'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='PU'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Preço unitário de um título. Até 10 inteiros e 8 decimais. Deve ser informado o ponto separador.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:decimal'>
    <xs:totalDigits value='18'/>
    <xs:fractionDigits value='8'/>
    <xs:minExclusive value='-10000000000'/>
    <xs:maxExclusive value='10000000000'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='QtdCTP'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Quantidade de títulos CETIP. Até quatorze inteiros e oito decimais. Deve ser informado o ponto separador.</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:decimal'>
    <xs:totalDigits value='22'/>
    <xs:fractionDigits value='8'/>
    <xs:minExclusive value='-100000000000000'/>
    <xs:maxExclusive value='100000000000000'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='SubTpAtv'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Tipo do subativo. </cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='4'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Valor'>
  <xs:annotation>
    <xs:documentation>
      <cat:InfTipo>
        <cat:DescricaoTipo>Valor. Até dezessete inteiros e dois decimais e sinalizado. Para valores menores que zero, o valor será precedido pelo sinal "-". Exemplo: para 20 negativo informe -20 . Deve ser informado o ponto separador caso tenha  decimais. Exemplo: para R$100,00 informe 100; para R$100,10 informe 100.1; para R$100,11 informe 100.11; para R$100,11 negativo informe -100.11</cat:DescricaoTipo>
      </cat:InfTipo>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base='xs:decimal'>
    <xs:totalDigits value='19'/>
    <xs:fractionDigits value='2'/>
    <xs:minExclusive value='-100000000000000000'/>
    <xs:maxExclusive value='100000000000000000'/>
  </xs:restriction>
</xs:simpleType>
 
</xs:schema>
