XSD/CTP/CTP5003E.XSD

<?xml version='1.0' encoding='ISO-8859-1'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
    targetNamespace='http://www.bcb.gov.br/SPB/CTP5003E.xsd'
    xmlns='http://www.bcb.gov.br/SPB/CTP5003E.xsd'
    elementFormDefault='qualified'
    version='5.10'>
 
<!-- Definicao da mensagem -->
 
<xs:element name='DOC' type='DOCComplexType'/>
 
<xs:complexType name='DOCComplexType'>
  <xs:sequence>
    <xs:element name='BCMSG' type='BCMSGComplexType'/>
    <xs:element name='SISMSG' type='SISMSGComplexType'/>
    <xs:element name='USERMSG' type='USERMSGSimpleType' minOccurs='0'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do BCMSG da mensagem -->
 
<xs:complexType name='BCMSGComplexType'>
  <xs:sequence>
    <xs:element name='IdentdEmissor' type='ISPB'/>
    <xs:element name='IdentdDestinatario' type='ISPB'/>
    <xs:element name='IdentdContg' type='ISPB' minOccurs='0'/>
    <xs:element name='IdentdOperad' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='IdentdOperadConfc' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='Grupo_Seq' type='Grupo_SeqComplexType' minOccurs='0'/>
    <xs:element name='DomSist' type='DomSist'/>
    <xs:element name='NUOp' type='NUOp'/>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_SeqComplexType'>
  <xs:sequence>
    <xs:element name='NumSeq' type='NumSeq'/>
    <xs:element name='IndrCont' type='Indr'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do SISMSG da mensagem -->
 
<xs:complexType name='SISMSGComplexType'>
  <xs:choice>
    <xs:element name='CTP5003' type='CTP5003ComplexType'/>
  </xs:choice>
</xs:complexType>
 
<xs:complexType name='CTP5003ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='TagErroComplexType'  fixed='CTP5003E'/>
    <xs:element name='NumCtrlIF' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='ISPBIF' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IdentdPartCamr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='SubTpAtv' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrAlt' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IdentdTitCTP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrPatmLiqdFund' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodEspInstntoFinanc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodISIN' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrEms' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtEms' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtVenc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='QtdAdqd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='PUAquis' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtAquis' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='PU' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtAtlzPU_Ftr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='QtdRemnstCart' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DescAdclCartInvestmto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_CTP5003_RemunFormaPagto' type='Grupo_CTP5003_RemunFormaPagtoComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_CTP5003_InvestmtoFIP' type='Grupo_CTP5003_InvestmtoFIPComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_CTP5003_InvestmtoFIDC' type='Grupo_CTP5003_InvestmtoFIDCComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_CTP5003_InvestmtoFII' type='Grupo_CTP5003_InvestmtoFIIComplexType'  minOccurs='0'/>
    <xs:element name='DtMovto' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_CTP5003_RemunFormaPagtoComplexType'>
  <xs:sequence>
    <xs:element name='CodTaxRef_Indx' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='PercTaxRef' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TaxJurosCTP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodFormaPagto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodPeriodJuros' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodPeriodAmtzc' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_CTP5003_InvestmtoFIPComplexType'>
  <xs:sequence>
    <xs:element name='Nom_RzSocEmpInvestd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CNPJEmpInvestd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrPatmLiqEmpInvestd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DescCtrlAcinrioEmpInvestd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DescDadFinancEmpInvestd' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_CTP5003_InvestmtoFIDCComplexType'>
  <xs:sequence>
    <xs:element name='Nom_RzSocCed' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CNPJ_CPFCed' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpPessoaCed' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Nom_RzSocDevdr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CNPJ_CPFDevdr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpPessoaDevdr' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_CTP5003_InvestmtoFIIComplexType'>
  <xs:sequence>
    <xs:element name='UFLocImovl' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodMunicLocImovl' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='LogradImovl' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='MatclImovl' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DescGarImovl' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<!-- Definicao do USRMSG da mensagem -->
 
<xs:simpleType name='USERMSGSimpleType'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1048576'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao dos tipos simples do evento -->
 
<xs:simpleType name='DomSist'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='5'/>
    <xs:maxLength value='5'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdOperad'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='32'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Indr'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='1'/>
    <xs:pattern value='S|N'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ISPB'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
    <xs:pattern value='[0-9A-Z]{8}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NumSeq'>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='9'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NUOp'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='23'/>
    <xs:maxLength value='23'/>
    <xs:pattern value='[0-9A-Z]{8}[0-9]{15}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodErro'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao do tipo complexo generico de erro com atributo -->
 
<xs:complexType name='TagErroComplexType'>
  <xs:simpleContent>
    <xs:extension base='xs:string'>
      <xs:attribute name='CodErro' type='CodErro'/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>
 
</xs:schema>
