XSD/CTP/CTP9003E.XSD

<?xml version='1.0' encoding='ISO-8859-1'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
    targetNamespace='http://www.bcb.gov.br/SPB/CTP9003E.xsd'
    xmlns='http://www.bcb.gov.br/SPB/CTP9003E.xsd'
    elementFormDefault='qualified'
    version='5.10'>
 
<!-- Definicao da mensagem -->
 
<xs:element name='DOC' type='DOCComplexType'/>
 
<xs:complexType name='DOCComplexType'>
  <xs:sequence>
    <xs:element name='BCMSG' type='BCMSGComplexType'/>
    <xs:element name='SISMSG' type='SISMSGComplexType'/>
    <xs:element name='USERMSG' type='USERMSGSimpleType' minOccurs='0'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do BCMSG da mensagem -->
 
<xs:complexType name='BCMSGComplexType'>
  <xs:sequence>
    <xs:element name='IdentdEmissor' type='ISPB'/>
    <xs:element name='IdentdDestinatario' type='ISPB'/>
    <xs:element name='IdentdContg' type='ISPB' minOccurs='0'/>
    <xs:element name='IdentdOperad' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='IdentdOperadConfc' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='Grupo_Seq' type='Grupo_SeqComplexType' minOccurs='0'/>
    <xs:element name='DomSist' type='DomSist'/>
    <xs:element name='NUOp' type='NUOp'/>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_SeqComplexType'>
  <xs:sequence>
    <xs:element name='NumSeq' type='NumSeq'/>
    <xs:element name='IndrCont' type='Indr'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do SISMSG da mensagem -->
 
<xs:complexType name='SISMSGComplexType'>
  <xs:choice>
    <xs:element name='CTP9003' type='CTP9003ComplexType'/>
  </xs:choice>
</xs:complexType>
 
<xs:complexType name='CTP9003ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='TagErroComplexType'  fixed='CTP9003E'/>
    <xs:element name='NumCtrlIF' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='ISPBIF' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IdentdPartCamr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodArea' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IdentdCtrapartCamr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodOpCTP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='SubTpAtv' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrContrtoGlb' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpCompra_Venda' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrFinanc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodMoeda' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodMoedaCotd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TaxCamNegcd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtIni' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtVenc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrCR' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpContrtoTermo' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrDesloc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpFnte' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrBol' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodRefConsVCP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodPcaCotVCP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NumOpPart' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpMedContrtoAsiatc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Grupo_CTP9003_InfCli' type='Grupo_CTP9003_InfCliComplexType'  minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='Grupo_CTP9003_InfTermoAsiatc' type='Grupo_CTP9003_InfTermoAsiatcComplexType'  minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='TpCotCam' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodHrioConsVCP' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpCotParid' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpPessoaPart' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrCestaGarPart' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CNPJ_CPFPart' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpPessoaCtrapart' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrCestaGarCtrapart' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CNPJ_CPFCtrapart' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtAval' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DescContrto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrIniContrtoFutr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtIniContrto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpAtlzContrto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='PercNegcdContrto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrAjusTax' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpPagdrResponsAjusTax' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtIniAjusTax' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtFimAjusTax' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrLim' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrLimSup' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrLimInfr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpPagdrResponsPgtoPrem' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrPrem' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='ModLiquid' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrDeslocCotFixc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtMovto' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_CTP9003_InfCliComplexType'>
  <xs:sequence>
    <xs:element name='IndrPart_Ctrapart' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IdentdCliCamr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NomCli' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<xs:complexType name='Grupo_CTP9003_InfTermoAsiatcComplexType'>
  <xs:sequence>
    <xs:element name='DtVerfcTaxContrto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrRef' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<!-- Definicao do USRMSG da mensagem -->
 
<xs:simpleType name='USERMSGSimpleType'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1048576'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao dos tipos simples do evento -->
 
<xs:simpleType name='DomSist'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='5'/>
    <xs:maxLength value='5'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdOperad'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='32'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Indr'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='1'/>
    <xs:pattern value='S|N'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ISPB'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
    <xs:pattern value='[0-9A-Z]{8}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NumSeq'>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='9'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NUOp'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='23'/>
    <xs:maxLength value='23'/>
    <xs:pattern value='[0-9A-Z]{8}[0-9]{15}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodErro'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao do tipo complexo generico de erro com atributo -->
 
<xs:complexType name='TagErroComplexType'>
  <xs:simpleContent>
    <xs:extension base='xs:string'>
      <xs:attribute name='CodErro' type='CodErro'/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>
 
</xs:schema>
