XSD/CAM/CAM0024E.XSD

<?xml version='1.0' encoding='ISO-8859-1'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
    targetNamespace='http://www.bcb.gov.br/MES/CAM0024E.xsd'
    xmlns='http://www.bcb.gov.br/MES/CAM0024E.xsd'
    elementFormDefault='qualified'
    version='5.10'>
 
<!-- Definicao da mensagem -->
 
<xs:element name='DOC' type='DOCComplexType'/>
 
<xs:complexType name='DOCComplexType'>
  <xs:sequence>
    <xs:element name='BCMSG' type='BCMSGComplexType'/>
    <xs:element name='SISMSG' type='SISMSGComplexType'/>
    <xs:element name='USERMSG' type='USERMSGSimpleType' minOccurs='0'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do BCMSG da mensagem -->
 
<xs:complexType name='BCMSGComplexType'>
  <xs:sequence>
    <xs:element name='IdentdEmissor' type='ISPB'/>
    <xs:element name='IdentdDestinatario' type='ISPB'/>
    <xs:element name='IdentdContg' type='ISPB' minOccurs='0'/>
    <xs:element name='IdentdOperad' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='IdentdOperadConfc' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='Grupo_Seq' type='Grupo_SeqComplexType' minOccurs='0'/>
    <xs:element name='DomSist' type='DomSist'/>
    <xs:element name='NUOp' type='NUOp'/>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_SeqComplexType'>
  <xs:sequence>
    <xs:element name='NumSeq' type='NumSeq'/>
    <xs:element name='IndrCont' type='Indr'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do SISMSG da mensagem -->
 
<xs:complexType name='SISMSGComplexType'>
  <xs:choice>
    <xs:element name='CAM0024' type='CAM0024ComplexType'/>
  </xs:choice>
</xs:complexType>
 
<xs:complexType name='CAM0024ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='TagErroComplexType'  fixed='CAM0024E'/>
    <xs:element name='NumCtrlIF' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CNPJBaseIF' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='RegOpCaml' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='RDE' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrEftTot' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='PercACC' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodFatoNatu' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodCliNatu' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='IndrAvalNatu' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodPagdr_RecbdrExtrNatu' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodGrpNatu' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodFormaEntrMoeda' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtLimLiquid' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TxtOtrEspecc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodClausEspfcoIF' type='TagErroComplexType'  minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='CodPaisPagdr_RecbdrExtr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NomPagdr_RecbdrExtr' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpRelcVinc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodFormaEntrMN' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtEntrMN' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='ISPBIFPgto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='AgIFPaisPgto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CtIFPaisPgto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodSwiftIFBenfcrio' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodABAIFBenfcrio' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodCHIPSIFBenfcrio' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NomIFBenfcrio' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CtBenfcrio' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodSwiftINT' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodABAINT' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodCHIPSINT' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NomINT' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CtIFBenfcrioINT' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtMovto' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<!-- Definicao do USRMSG da mensagem -->
 
<xs:simpleType name='USERMSGSimpleType'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1048576'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao dos tipos simples do evento -->
 
<xs:simpleType name='DomSist'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='5'/>
    <xs:maxLength value='5'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdOperad'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='32'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Indr'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='1'/>
    <xs:pattern value='S|N'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ISPB'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
    <xs:pattern value='[0-9A-Z]{8}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NumSeq'>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='9'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NUOp'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='23'/>
    <xs:maxLength value='23'/>
    <xs:pattern value='[0-9A-Z]{8}[0-9]{15}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodErro'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao do tipo complexo generico de erro com atributo -->
 
<xs:complexType name='TagErroComplexType'>
  <xs:simpleContent>
    <xs:extension base='xs:string'>
      <xs:attribute name='CodErro' type='CodErro'/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>
 
</xs:schema>
