XSD/PAG/PAG0122E.XSD

<?xml version='1.0' encoding='ISO-8859-1'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
    targetNamespace='http://www.bcb.gov.br/SPB/PAG0122E.xsd'
    xmlns='http://www.bcb.gov.br/SPB/PAG0122E.xsd'
    elementFormDefault='qualified'
    version='5.10'>
 
<!-- Definicao da mensagem -->
 
<xs:element name='DOC' type='DOCComplexType'/>
 
<xs:complexType name='DOCComplexType'>
  <xs:sequence>
    <xs:element name='BCMSG' type='BCMSGComplexType'/>
    <xs:element name='SISMSG' type='SISMSGComplexType'/>
    <xs:element name='USERMSG' type='USERMSGSimpleType' minOccurs='0'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do BCMSG da mensagem -->
 
<xs:complexType name='BCMSGComplexType'>
  <xs:sequence>
    <xs:element name='IdentdEmissor' type='ISPB'/>
    <xs:element name='IdentdDestinatario' type='ISPB'/>
    <xs:element name='IdentdContg' type='ISPB' minOccurs='0'/>
    <xs:element name='IdentdOperad' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='IdentdOperadConfc' type='IdentdOperad' minOccurs='0'/>
    <xs:element name='Grupo_Seq' type='Grupo_SeqComplexType' minOccurs='0'/>
    <xs:element name='DomSist' type='DomSist'/>
    <xs:element name='NUOp' type='NUOp'/>
  </xs:sequence>
</xs:complexType>
 
<xs:complexType name='Grupo_SeqComplexType'>
  <xs:sequence>
    <xs:element name='NumSeq' type='NumSeq'/>
    <xs:element name='IndrCont' type='Indr'/>
  </xs:sequence>
</xs:complexType>
 
<!-- Definicao do SISMSG da mensagem -->
 
<xs:complexType name='SISMSGComplexType'>
  <xs:choice>
    <xs:element name='PAG0122' type='PAG0122ComplexType'/>
  </xs:choice>
</xs:complexType>
 
<xs:complexType name='PAG0122ComplexType'>
  <xs:sequence>
    <xs:element name='CodMsg' type='TagErroComplexType'  fixed='PAG0122E'/>
    <xs:element name='NumCtrlIF' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='ISPBIFDebtd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='AgDebtd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='ISPBIFCredtd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='AgCredtd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrLanc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpPessoaSacd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CNPJ_CPFSacd' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpPessoaCed' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CNPJ_CPFCed' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='TpDocBarras' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NumCodBarras' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CanPgto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrDoc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrDesct_Abatt' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrJuros' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrMulta' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='VlrOtrAcresc' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='CodIdentdTransf' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='NivelPrefPAG' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='Hist' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtMovto' type='TagErroComplexType'  minOccurs='0'/>
    <xs:element name='DtAgendt' type='TagErroComplexType'  minOccurs='0'/>
  </xs:sequence>
  <xs:attribute name='CodErro' type='CodErro'/>
</xs:complexType>
 
<!-- Definicao do USRMSG da mensagem -->
 
<xs:simpleType name='USERMSGSimpleType'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='1048576'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao dos tipos simples do evento -->
 
<xs:simpleType name='DomSist'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='5'/>
    <xs:maxLength value='5'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='IdentdOperad'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='32'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='Indr'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='1'/>
    <xs:maxLength value='1'/>
    <xs:pattern value='S|N'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='ISPB'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
    <xs:pattern value='[0-9A-Z]{8}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NumSeq'>
  <xs:restriction base='xs:integer'>
    <xs:totalDigits value='9'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='NUOp'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='23'/>
    <xs:maxLength value='23'/>
    <xs:pattern value='[0-9A-Z]{8}[0-9]{15}'/>
  </xs:restriction>
</xs:simpleType>
 
<xs:simpleType name='CodErro'>
  <xs:restriction base='xs:string'>
    <xs:minLength value='8'/>
    <xs:maxLength value='8'/>
  </xs:restriction>
</xs:simpleType>
 
<!-- Definicao do tipo complexo generico de erro com atributo -->
 
<xs:complexType name='TagErroComplexType'>
  <xs:simpleContent>
    <xs:extension base='xs:string'>
      <xs:attribute name='CodErro' type='CodErro'/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>
 
</xs:schema>
